*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
    
html,
body{
    width: 100%;
    height: 100%;
}

body{
    font-family: Helvetica;
}

nav{
    height: 10vh;

    display: flex;
    justify-content: center;
    align-items: center;

    background: linear-gradient(to right, #d3cce3, #e9e4f0);
}

nav>i:first-child{
    color: green;
    font-weight: 900;
}

nav>i:nth-child(3){
    color: yellowgreen;
}

nav>i:nth-child(5){
    color: tomato;
}

nav>i{
    font-size: 20px;
    margin: 0px 10px;
}

.container{
    display: flex;
    height: 96vh;

}


.left-section{
    /* background-color: red; */
    background: url('https://images.unsplash.com/photo-1612188842101-f976582906fc?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8NDd8fHByb2R1Y3RzfGVufDB8fDB8fHww');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    border-right: 2px solid black;

    width: 50%;
    height: 100%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    opacity: 0.8;
}

.text1{
    background-color: black;
    color: white;

    text-align: center;
    font-size: 20px;

    width: 80%;

    border: 2px solid brown;
    border-radius: 10px;

    padding: 5px;

    font-weight: 700;

}

.left-section img{
    background-color: white;

    width: 150px;
    height: 150px;
    
    margin: 20px;
    padding: 20px;

    border: 2px solid black;
    border-radius: 10px;

}
.left-section img:hover{
    cursor: pointer;

}

.card-section input{
    width: 350px;
    
}

.card-section{
    width: 50%;
}

.card-details{
    font-size: 18px;

    margin: 10px;
    text-align: left;

    color: white;

    font-weight: 900;
}

.save-details{
    color: white;
}

.right-section{
    /* background-color: green; */
    background: url('https://images.unsplash.com/photo-1511556820780-d912e42b4980?q=80&w=1887&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.8;
    
    width: 50%;
    height: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;

    font-size: 30px;
    font-weight: 700;

}

.items{
    background-color: goldenrod;
    color: black;

    

    width: 60%;
    height: 300px;

    margin-top: 100px;

    border-radius: 20px;

    padding: 10px;

    opacity: 0.9;

    box-shadow: 0 0 10px black;

}

.amount{
    background-color: gainsboro;
    
    width: 50%;
    height: 50px;

    margin-top: 10px;

    border-radius: 10px;

    padding: 10px;
}

button{
    font-size: 30px;

    padding: 10px;
    margin: 20px;

    width: 370px;

    border-radius: 10px;

    color: white;
    background-color: black;

}

button:hover{
    transition: 1s ease-out;

    cursor: pointer;

    color: rgb(6, 6, 56);
    background-color: lightgoldenrodyellow;

}